.infor{
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 70%;
}

.datas{
    font-size: 30px;
    color: black;

    &__title{
        font-weight: bold;
        color: black    ;
    }
}

.benom{
    display: flex;
    gap: 40px;
}

.comments{
    font-size: 30px;
    color: #9A9A9A;
}



.book_details_table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    color: #333;

    td {
        padding: 12px;
        border: 1px solid #ddd;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tr:hover {
        background-color: #f1f1f1;
    }

    .tag {
        display: inline-block;
        padding: 5px 10px;
        margin: 5px;
        border: none;
        outline: none;
        background-color: #EEF4FF;
        border-radius: 5px;
        color: #3F51B5;
        font-size: 14px;
        font-weight: bolder;
    }
}
